 <!-- info section -->
 <section class="info_section ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="info_contact">
          <h5>
            <a routerLink="" class="navbar-brand">
              <span>
                الأصلى
              </span>
            </a>
          </h5>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            العنوان :
            <br>
            سوهاج - المنطقة الصناعية
          </p>
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i>
            تلفون :
            <br>
            +01 1234567890
          </p>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            البريد :
            <br>
            AlaslyFactory@gmail.com
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info_info">
          <h5>
            معلومات عنا
          </h5>
          <p>
مصنع الأصلى هو مصنع إنتاج و نسج ملابس بأجود الأنواع و يقع المصنع فى محافظة سوهاج بالمنطقة الصناعية بالكوثر
          </p>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="info_form ">
          <div class="social_box">
            <a routerLink="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a routerLink="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a routerLink="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a routerLink="">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info_section -->
<footer class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By
      <a routerLink="https://html.design/">Free Html Templates</a>
    </p>
  </div>
</footer>
